@font-face{
    font-family: 'hey';
    src: url(./font.woff2);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body{
    height: 100%;
    width: 100%;
}

@mixin flex(){
    display: flex;
    justify-content: space-between;
    align-items: center;
}

main{
    width: 100%;
    height: 100%;

    .navbar{
        width: 100%;
        background: linear-gradient(to right, rgb(25, 133, 249), rgb(171, 34, 251));
        padding-top: 0.5rem;
        padding-bottom: 0.5rem;
        text-align: center;

        h4{
            font-family: 'hey';
            color: white;
            padding-left: 0;
            padding-right: 0;
            font-size: 0.9rem;
            padding-left: 0.1rem;

            i{
                margin-top: 5rem;
                font-weight: 100;
            }
        }
    }

    .logo{
        @include flex();
        padding: 0rem 1rem;
        margin-top: 1.3rem;

        .logo_left{

            img{
                width: 8rem;
                margin-left: 0.3rem;
            }
        }

        .logo_right{
            h4, button{
                display: none;
            }

            #iconn{
                display: none;
            }

            i{
                font-size: 1.2rem;
                color: grey;
                margin-right: 0.7rem;
            }
        }
    }

    .home{
        margin-top: 1.7rem;
        padding: 3rem 3rem;
        background: linear-gradient(rgb(239, 246, 249) 80%, pink);
        flex-direction: column;

        img{
            width: 100%;
            max-width: 1600px;
            object-fit: contain;
        }

        h1{
            font-family: 'hey';
            font-size: 2.5rem;
            line-height: 2.8rem;
            margin-top: 2rem;
            text-align: center;
        }

        p{
            font-family: 'hey';
            font-size: 1.8rem;
            font-weight: 500;
            line-height: 2.5rem;
            margin-top: 5rem;
            text-align: center;

            span {
            display: block;
            }   
        }
    }

    .section2{
        margin-top: 4rem;
        flex-direction: column;

        .community{
            padding: 2rem 1rem;

            h2{
                font-family: 'hey';
            }

            p{
                font-family: 'hey';
                font-size: 1.3rem;
                line-height: 2rem;
                margin-top: 1.3rem;
                font-weight: 400;
                color: rgb(106, 106, 106);

                span{
                    display: block;
                }

                img{
                    margin-top: 5rem;
                    width: 100%;
                    max-width: 1600px;
                    object-fit: contain;
                }
            }

        }

        .events{
            padding: 2rem 1rem;

            h2{
                font-family: 'hey';
            }

            p{
                font-family: 'hey';
                font-size: 1.3rem;
                line-height: 2rem;
                margin-top: 1rem;
                font-weight: 400;
                color: rgb(106, 106, 106);

                span{
                    display: block;
                }

                img{
                    padding-top: 5rem;
                    width: 100%;
                    max-width: 1600px;
                    object-fit: contain;
                }
            }
        }

        .packages{
            padding: 2rem 1rem;

            h2{
                font-family: 'hey';
            }

            p{
                font-family: 'hey';
                font-size: 1.3rem;
                line-height: 2rem;
                margin-top: 1rem;
                font-weight: 400;
                color: rgb(106, 106, 106);

                span{
                    display: block;
                }

                img{
                    padding-top: 5rem;
                    width: 100%;
                    max-width: 1600px;
                    object-fit: contain;
                }
            }
        }
    }

    .section3{
        padding: 2rem 1rem;

        .right{
            img{
            padding-top: 5rem;
            width: 100%;
            max-width: 1600px;
            object-fit: cover;
          }
        }

        .left{

        h3{
            font-family: 'hey';
            color: rgb(103, 102, 102);
        }

        h1{
            font-family: 'hey';
            font-size: 2.5rem;
            line-height: 2.0rem;
            margin-top: 2rem;
        }

        p{
            font-family: 'hey';
            font-size: 1.2rem;
            line-height: 1.7rem;
            margin-top: 1.5rem;
            font-weight: 400;
            color: rgb(106, 106, 106);
        }

        button{
            border: 1px solid rgb(11, 158, 249);
            color: rgb(7, 157, 250);
            background-color: white;
            margin-top: 1.5rem;
            border-radius: 3rem;
            padding: 0.5rem 2rem;
        }

        h6{
            margin-top: 2rem;
            font-family: 'hey';
            font-size: 1.2rem;
            line-height: 1.7rem;
            font-weight: 400;
            color: black;
        }
    }
    }

    .comm{
        margin-top: 4rem;
        padding: 1rem 1rem;
        background: linear-gradient(to top, rgb(253, 253, 223), white);

        .community_left{

        img{
            width: 100%;
            max-width: 1600px;
            object-fit: cover;
        }
    }

    .community_right{

        h3{
            font-family: 'hey';
            margin-top: 2rem;
            color: rgb(103, 102, 102);
        }

        h1{
            font-family: 'hey';
            font-size: 2.5rem;
            line-height: 1rem;
            font-weight: 800;
            margin-top: 2rem;
            letter-spacing: 0.1rem;
        }

        p{
            font-family: 'hey';
            font-size: 1.2rem;
            line-height: 1.7rem;
            margin-top: 2.3rem;
            font-weight: 400;
            color: rgb(106, 106, 106);

            span{
                display: block;
            }
        }

        button{
            color: white;
            background-color: blue;
            margin-top: 1.5rem;
            border-radius: 3rem;
            padding: 0.5rem 2rem;
        }
    }
    }

    .even{
        flex-direction: column-reverse;
        .even_right{
        img{
            padding-top: 5rem;
            width: 100%;
            max-width: 1600px;
            object-fit: cover;
        }
    }
        .even_left{
            margin-top: 1rem;
        h3{
            font-family: 'hey';
            color: rgb(103, 102, 102);
        }

        h2{
            font-family: 'hey';
            font-size: 2.5rem;
            line-height: 2.0rem;
            padding-top: 0.5rem;
        }

        p{
            font-family: 'hey';
            font-size: 1.2rem;
            line-height: 1.7rem;
            margin-top: 1.5rem;
            font-weight: 400;
            color: rgb(106, 106, 106);
        }

        button{
            border: 1px solid rgb(11, 158, 249);
            color: rgb(7, 157, 250);
            background-color: white;
            margin-top: 1.5rem;
            border-radius: 3rem;
            padding: 0.5rem 2rem;
        }
      }
    }

    .package{
        margin-top: 4rem;
        padding: 2rem 1rem;

        .package_left{

        img{
            width: 100%;
            max-width: 1600px;
            object-fit: cover;
        }
    }

    .package_right{
        h3{
            font-family: 'hey';
            margin-top: 2rem;
            color: rgb(103, 102, 102);
        }

        h1{
            font-family: 'hey';
            font-size: 2.5rem;
            line-height: 1rem;
            font-weight: 800;
            margin-top: 2rem;
            letter-spacing: 0.1rem;
        }

        p{
            font-family: 'hey';
            font-size: 1.2rem;
            line-height: 1.7rem;
            margin-top: 2.5rem;
            font-weight: 400;
            color: rgb(106, 106, 106);

            span{
                display: block;
            }
        }

        button{
            color: white;
            background-color: blue;
            margin-top: 1.5rem;
            border-radius: 3rem;
            padding: 0.5rem 2rem;
        }
    }
    }

    .footer{
        margin-top: 4rem;
        padding: 2rem 1rem;
        background-color: rgb(245, 244, 244);
        
        img{
            padding-top: 2rem;
            padding-left: 2rem;
            width: 100%;
            max-width: 150px;
            object-fit: contain;
        }

        .about{
            margin-top: 2rem;
            padding-left: 2rem;

            h4{
                font-family: 'hey';
                font-size: 1.2rem;
                line-height: 1.7rem;
                margin-top: 2.5rem;
                font-weight: 500;
                color: black;
            }

            h5{
                font-family: 'hey';
                font-size: 1.2rem;
                margin-top: 1rem;
                color: grey;
            }
        }

        .learn{
            margin-top: 3rem;
            padding-left: 2rem;

            h4{
                font-family: 'hey';
                font-size: 1.2rem;
                line-height: 1.7rem;
                margin-top: 2.5rem;
                font-weight: 500;
                color: black;
            }

            h5{
                font-family: 'hey';
                font-size: 1.2rem;
                margin-top: 1rem;
                color: grey;
            }
        }

        .multi{
            margin-top: 3rem;
            padding-left: 2rem;

            h4{
                font-family: 'hey';
                font-size: 1.2rem;
                line-height: 1.7rem;
                margin-top: 2.5rem;
                font-weight: 500;
                color: black;
            }

            h5{
                font-family: 'hey';
                font-size: 1.2rem;
                margin-top: 1rem;
                color: grey;
            }
        }

        .icons{
            display: flex;
            align-items: center;
            justify-content: center;
            margin-top: 3rem;

            i{
                font-size: 1.5rem;
                margin-right: 1rem;
                color: grey;
            }
        }

        .foot_para{
            margin-top: 3rem;
            padding-left: 1rem;
            padding-right: 1rem;

            p{
                font-family: 'hey';
                font-size: 1rem;
                line-height: 1.5rem;
                margin-top: 2.7rem;
                font-weight: 400;
                color: rgb(106, 106, 106);
            }

            .down{
                margin-top: 1rem;
                margin-bottom: 1rem;
                color: rgb(106, 106, 106);
                display: flex;
                align-items: center;
                justify-content: center;
                gap: 1rem;

                h5{
                    font-size: 1rem;
                    font-weight: 300;
                }
            }
        }
    }
}

@media (min-width: 900px){
    main{

        .navbar{
            display: flex;
            align-items: center;
            justify-content: center;
            padding-top: 1.2rem;
            padding-bottom: 1.2rem;
            width: 100%;
            // position: fixed;
            // bottom: 0;
            // right: 0;

           h4{
               text-align: center;
           }
        
        }
        .logo{
            // position: fixed;
            // bottom: 0;
            // right: 0;
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 0rem 1rem;
            margin-top: 1.3rem;
            width: 100%;

            .logo_left{
                padding-left: 1.8rem;
                width: 50%;
            }

            .logo_right{
                width: 50%;
                display: flex;
                align-items: center;
                justify-content: space-between;
                gap: 0.2rem;

                i{
                display: none;
                }

                h4{
                    display: none;
                }

                #iconn{
                  display: block;
                }

                h4{
                    display: block;
                    color: rgb(91, 90, 90);
                }
            }
        }

        .home{
            @include flex();
            flex-direction: row;
            gap: 2rem;
            position: relative;
            background: linear-gradient(to right, rgb(248, 233, 235), rgb(233, 246, 251) 95%);
            padding-bottom: 20rem;
            
            img{
                max-width: 690px;
                padding-right: 10rem;
                order: 2;
            }

            h1{
                margin-top: 0;
                flex: 1; 
                font-size: 4.5rem;
                line-height: 4.3rem;
                padding-left: 2.5rem;
            }

            .paragraph{
                position: absolute;
                top: 30rem;
                padding: 0rem 20rem;

                p{
                    font-size: 2rem;
                    font-weight: 400;
                }

                span {
                  display: inline; 
                }
            }
        }

        .section2{
            display: flex;
            align-items: center;
            justify-content: space-between;
            gap: 1rem;
            flex-direction: row;
            padding: 2rem 3rem;

            .community{
                margin-top: 1rem;

                img{
                    width: 100%;
                    max-width: 400px;
                    object-fit: contain;
                }
            }

            .events{
                margin-top: 1rem;

                img{
                    max-width: 100px;
                }
            }

            .packages{
                margin-top: 1rem;

                img{
                    max-width: 100px;
                }
            }
        }

        .section3{
            display: flex;
            flex-direction: row-reverse;
            width: 100%;

            .right{
                display: flex;
                align-items: end;
                justify-content: center;
                width: 50%;
               img{
                   width: 65%;
               }
            }

            .left{
                display: flex;
                flex-direction: column;
                gap: 0.5rem;
                padding: 10rem;
                justify-content: center;
                width: 50%;

                h1{
                    font-size: 3rem;
                }

                p{
                    width: 500px;
                
                    span{
                        font-size: 1.4rem;
                    }
                }

                .buttons{
                    width: 480px;
                    display: flex;
                    gap: 1rem;

                button{
                    font-size: 1rem;
                }

                h6{
                    display: flex;
                    font-size: 1rem;

                    i{
                        font-size: 1rem;
                    }
                }
              } 
            }
        }

        .comm{
            display: flex;
            align-items: center;
            padding: 1rem 1rem;
            margin-top: 1rem;
            width: 100%;
            background: linear-gradient(to right, rgb(245, 245, 215), white);

            .community_left{
                display: flex;
                align-items: end;
                justify-content: center;
                font-family: 'hey';
                width: 50%;
                padding-left: 1rem;
               img{
                   width: 65%;
               }
            }

            .community_right{
                display: flex;
                flex-direction: column;
                gap: 0.5rem;
                padding-right: 7rem;
                justify-content: center;
                width: 50%;

                h3{
                    color: rgb(91, 90, 90);
                    font-size: 1rem;
                }

                h2{
                    margin-top: 0.8rem;
                    font-size: 3rem;
                    line-height: 2rem;
                    font-weight: 800;
                    font-family: 'hey';
                }

                p{
                    margin-top: 1.5rem;
                    width: 500px;
                    color: rgb(101, 100, 100);
                
                    span{
                        font-size: 1.4rem;
                    }
                }

                button{
                    margin-top: 1rem;
                    background-color: blue;
                    width: 10rem;
                    border-radius: 25px;
                    padding: 0.6rem 1rem;
                    font-size: 1rem;
                    font-weight: 500;
                    display: flex;
                }
            }

        }

        .even{
            display: flex;
            flex-direction: row;
            padding: 2rem 1rem;
            width: 100%;

            .even_left{
                display: flex;
                flex-direction: column;
                gap: 0.5rem;
                padding: 10rem;
                justify-content: center;
                width: 50%;

                 h3{
                    color: rgb(91, 90, 90);
                    font-family: 'hey';
                    font-size: 1rem;
                }

                h2{
                    margin-top: 0.8rem;
                    font-size: 3rem;
                    line-height: 2rem;
                    font-family: 'hey';
                    font-weight: 800;
                }

                p{
                    margin-top: 1.5rem;
                    width: 500px;
                    font-size: 0.3rem;
                    color: rgb(101, 100, 100);
                
                    span{
                        font-size: 1.4rem;
                    }
                }

                button{
                    margin-top: 1rem;
                    color: blue;
                    border: 1px solid blue;
                    width: 8rem;
                    border-radius: 25px;
                    padding: 0.4rem 1.3rem;
                    font-size: 1rem;
                    font-weight: 500;
                    display: flex;
                }
            }

            .even_right{
                display: flex;
                align-items: end;
                justify-content: center;
                width: 50%;
               img{
                   width: 65%;
                   object-fit: cover;
               }
            }
        }

        .package{
            display: flex;
            align-items: center;
            padding: 1rem 1rem;
            margin-top: 1rem;
            width: 100%;
            background: linear-gradient(to right, rgb(245, 245, 215), white);

            .package_left{
                display: flex;
                align-items: end;
                justify-content: center;
                font-family: 'hey';
                width: 50%;
                padding-left: 1rem;
            }

            .package_right{
                display: flex;
                flex-direction: column;
                gap: 0.5rem;
                padding-right: 7rem;
                justify-content: center;
                width: 50%;

                h3{
                    color: rgb(91, 90, 90);
                    font-size: 1rem;
                }

                h2{
                    margin-top: 0.8rem;
                    font-size: 3rem;
                    line-height: 2rem;
                    font-weight: 800;
                    font-family: 'hey';
                }

                p{
                    margin-top: 1.5rem;
                    width: 500px;
                    color: rgb(101, 100, 100);
                
                    span{
                        font-size: 1.4rem;
                    }
                }

                button{
                    margin-top: 1rem;
                    border-radius: 25px;
                    width: 10rem;
                    padding: 0.6rem 0.6rem;
                    font-size: 1rem;
                    font-weight: 500;
                    display: flex;
                    align-items: center;
                }
            }
        }

        .footer{
     display: flex;
     justify-content: space-between;
     width: 100%;

     .footer_left{
        width: 50%;
        font-size: 11rem;
        font-family: 'hey';
     }

     .footer_right{
        display: flex;
        width: 50%;
        align-items: center;
        justify-content: space-between;
        font-family: 'hey';
        gap: 0.5rem;

        .about{
            margin-bottom: 10rem;
            h4{
                color: black;
                font-size: 1rem;
            }

            h5{
                font-size: 1rem;
            }
        }

        .learn{
            margin-bottom: 11rem;
            h4{
                font-size: 1rem;
            }

            h5{
                font-size: 1rem;
            }
        }

        .multi{
            margin-bottom: 9rem;
            padding-right: 2rem;
            h4{
                font-size: 1rem;
            }
            h5{
                font-size: 1rem;
            }
        }
     }

     .ground{
        background-color: rgb(245, 244, 244);
        position: relative;
        
        .icons{
            display: flex;
            margin-top: 4rem;
            align-items: center;
            justify-content: center;
            position: absolute;
            top: 90%;
            right: 72rem;
            margin-top: 3rem;

            i{
                font-size: 1.5rem;
                margin-right: 1rem;
            }
            
        }
    }
        }
        
}}