@font-face{
    font-family: 'hey';
    src: url(./font.woff2);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body{
    height: 100%;
    width: 100%;
}

@mixin flex(){
    display: flex;
    justify-content: space-between;
    align-items: center;
}

main{
    width: 100%;
    height: 100%;

    .navbar{
        width: 100%;
        background: linear-gradient(to right, rgb(25, 133, 249), rgb(171, 34, 251));
        padding-top: 0.5rem;
        padding-bottom: 0.5rem;
        text-align: center;

        h4{
            font-family: 'hey';
            color: white;
            padding-left: 0;
            padding-right: 0;
            font-size: 0.9rem;
            padding-left: 0.1rem;

            i{
                margin-top: 5rem;
                font-weight: 100;
            }
        }
    }

    .logo{
        @include flex();
        padding: 0rem 1rem;
        margin-top: 1.3rem;

        .logo_left{

            img{
                width: 8rem;
                margin-left: 0.3rem;
            }
        }

        .logo_right{

            i{
                font-size: 1.2rem;
                color: grey;
                margin-right: 0.7rem;
            }

            // h5{
            //     display: none;
            // }

            // button{
            //     display: none;
            // }
        }

    }

    .home{
        margin-top: 1.7rem;
        padding: 3rem 3rem;
        background: linear-gradient(rgb(239, 246, 249) 80%, pink);
        flex-direction: column;

        img{
            width: 100%;
            max-width: 1600px;
            object-fit: contain;
        }

        h1{
            font-family: 'hey';
            font-size: 2.5rem;
            line-height: 2.8rem;
            margin-top: 2rem;
            text-align: center;
        }

        p{
            font-family: 'hey';
            font-size: 1.8rem;
            font-weight: 500;
            line-height: 2.5rem;
            margin-top: 5rem;
            text-align: center;

            span {
            display: block;
            }   
        }
    }

    .section2{
        margin-top: 4rem;
        flex-direction: column;

        .community{
            padding: 2rem 1rem;

            h2{
                font-family: 'hey';
            }

            p{
                font-family: 'hey';
                font-size: 1.3rem;
                line-height: 2rem;
                margin-top: 1.3rem;
                font-weight: 400;
                color: rgb(106, 106, 106);

                span{
                    display: block;
                }

                img{
                    margin-top: 5rem;
                    width: 100%;
                    max-width: 1600px;
                    object-fit: contain;
                }
            }

        }

        .events{
            padding: 2rem 1rem;

            h2{
                font-family: 'hey';
            }

            p{
                font-family: 'hey';
                font-size: 1.3rem;
                line-height: 2rem;
                margin-top: 1rem;
                font-weight: 400;
                color: rgb(106, 106, 106);

                span{
                    display: block;
                }

                img{
                    padding-top: 5rem;
                    width: 100%;
                    max-width: 1600px;
                    object-fit: contain;
                }
            }
        }

        .packages{
            padding: 2rem 1rem;

            h2{
                font-family: 'hey';
            }

            p{
                font-family: 'hey';
                font-size: 1.3rem;
                line-height: 2rem;
                margin-top: 1rem;
                font-weight: 400;
                color: rgb(106, 106, 106);

                span{
                    display: block;
                }

                img{
                    padding-top: 5rem;
                    width: 100%;
                    max-width: 1600px;
                    object-fit: contain;
                }
            }
        }
    }

    .section3{
        padding: 2rem 1rem;

        img{
            width: 100%;
            max-width: 1600px;
            object-fit: contain;
        }

        h3{
            font-family: 'hey';
            color: rgb(103, 102, 102);
        }

        h1{
            font-family: 'hey';
            font-size: 2.5rem;
            line-height: 2.0rem;
            margin-top: 2rem;
        }

        p{
            font-family: 'hey';
            font-size: 1.2rem;
            line-height: 1.7rem;
            margin-top: 1.5rem;
            font-weight: 400;
            color: rgb(106, 106, 106);
        }

        button{
            border: 1px solid rgb(11, 158, 249);
            color: rgb(7, 157, 250);
            background-color: white;
            margin-top: 1.5rem;
            border-radius: 3rem;
            padding: 0.5rem 2rem;
        }

        h6{
            margin-top: 2rem;
            font-family: 'hey';
            font-size: 1.2rem;
            line-height: 1.7rem;
            font-weight: 400;
            color: black;
        }
    }

    .community{
        margin-top: 4rem;
        padding: 2rem 1rem;

        img{
            width: 100%;
            max-width: 1600px;
            object-fit: contain;
        }

        h3{
            font-family: 'hey';
            margin-top: 2rem;
            color: rgb(103, 102, 102);
        }

        h1{
            font-family: 'hey';
            font-size: 2.5rem;
            line-height: 1rem;
            font-weight: 800;
            margin-top: 2rem;
            letter-spacing: 0.1rem;
        }

        p{
            font-family: 'hey';
            font-size: 1.2rem;
            line-height: 1.7rem;
            margin-top: 2.3rem;
            font-weight: 400;
            color: rgb(106, 106, 106);

            span{
                display: block;
            }
        }

        button{
            color: white;
            background-color: blue;
            margin-top: 1.5rem;
            border-radius: 3rem;
            padding: 0.5rem 2rem;
        }
    }
    .events{
        padding: 2rem 1rem;

        img{
            width: 100%;
            max-width: 1600px;
            object-fit: contain;
        }    

        h3{
            font-family: 'hey';
            margin-top: 2rem;
            color: rgb(103, 102, 102);
        }

        h1{
            font-family: 'hey';
            font-size: 2.5rem;
            line-height: 1rem;
            font-weight: 800;
            margin-top: 2rem;
            letter-spacing: 0.1rem;
        }

        p{
            font-family: 'hey';
            font-size: 1.2rem;
            line-height: 1.7rem;
            margin-top: 2rem;
            font-weight: 400;
            color: rgb(106, 106, 106);

            span{
                display: block;
            }
        }

        button{
            border: 1px solid rgb(11, 158, 249);
            color: rgb(7, 157, 250);
            background-color: white;
            margin-top: 1.5rem;
            border-radius: 3rem;
            padding: 0.5rem 2rem;
        } 
    }
    .packages{
        margin-top: 4rem;
        padding: 2rem 1rem;

        img{
            width: 100%;
            max-width: 1600px;
            object-fit: contain;
        }

        h3{
            font-family: 'hey';
            margin-top: 2rem;
            color: rgb(103, 102, 102);
        }

        h1{
            font-family: 'hey';
            font-size: 2.5rem;
            line-height: 1rem;
            font-weight: 800;
            margin-top: 2rem;
            letter-spacing: 0.1rem;
        }

        p{
            font-family: 'hey';
            font-size: 1.2rem;
            line-height: 1.7rem;
            margin-top: 2.5rem;
            font-weight: 400;
            color: rgb(106, 106, 106);

            span{
                display: block;
            }
        }

        button{
            color: white;
            background-color: blue;
            margin-top: 1.5rem;
            border-radius: 3rem;
            padding: 0.5rem 2rem;
        }
    }
    .get{
        margin-top: 4rem;
        padding: 2rem 1rem;
        position: relative;
        transform: rotateX('45deg');

        img{
            width: 100%;
            max-width: 1600px;
            object-fit: contain;
        }

        h1{
            position: absolute;
            bottom: 17rem;
            left: 4rem;
            font-family: 'hey';
            font-size: 2.9rem;
            line-height: 1rem;
            font-weight: 900;
            margin-top: 2rem;
            letter-spacing: 0.1rem;
            color: black;
        }

        p{
            position: absolute;
            bottom: 11rem;
            left: 4rem;
            font-family: 'hey';
            font-size: 1.4rem;
            line-height: 1.7rem;
            margin-top: 2.5rem;
            font-weight: 400;
            color: black;
        }

        .buttons{
            position: absolute;
            bottom: 7rem;
            left: 4rem;

            button{
                border: 1px solid rgb(11, 158, 249);
                color: rgb(7, 157, 250);
                background-color: white;
                margin-top: 1.5rem;
                border-radius: 3rem;
                padding: 0.5rem 2rem;
            }
        }
    }
    .footer{
        margin-top: 4rem;
        padding: 2rem 1rem;
        background-color: rgb(245, 244, 244);
        
        img{
            padding-top: 2rem;
            padding-left: 2rem;
            width: 100%;
            max-width: 150px;
            object-fit: contain;
        }

        .about{
            margin-top: 2rem;
            padding-left: 2rem;

            h4{
                font-family: 'hey';
                font-size: 1.2rem;
                line-height: 1.7rem;
                margin-top: 2.5rem;
                font-weight: 500;
                color: black;
            }

            h5{
                font-family: 'hey';
                font-size: 1.2rem;
                margin-top: 1rem;
                color: grey;
            }
        }

        .learn{
            margin-top: 3rem;
            padding-left: 2rem;

            h4{
                font-family: 'hey';
                font-size: 1.2rem;
                line-height: 1.7rem;
                margin-top: 2.5rem;
                font-weight: 500;
                color: black;
            }

            h5{
                font-family: 'hey';
                font-size: 1.2rem;
                margin-top: 1rem;
                color: grey;
            }
        }

        .multi{
            margin-top: 3rem;
            padding-left: 2rem;

            h4{
                font-family: 'hey';
                font-size: 1.2rem;
                line-height: 1.7rem;
                margin-top: 2.5rem;
                font-weight: 500;
                color: black;
            }

            h5{
                font-family: 'hey';
                font-size: 1.2rem;
                margin-top: 1rem;
                color: grey;
            }
        }

        .icons{
            display: flex;
            align-items: center;
            justify-content: center;
            margin-top: 3rem;

            i{
                font-size: 1.5rem;
                margin-right: 1rem;
                color: grey;
            }
        }

        .foot_para{
            margin-top: 3rem;
            padding-left: 1rem;
            padding-right: 1rem;

            p{
                font-family: 'hey';
                font-size: 1rem;
                line-height: 1.5rem;
                margin-top: 2.7rem;
                font-weight: 400;
                color: rgb(106, 106, 106);
            }

            .down{
                margin-top: 1rem;
                margin-bottom: 1rem;
                color: rgb(106, 106, 106);
                display: flex;
                align-items: center;
                justify-content: center;
                gap: 1rem;

                h5{
                    font-size: 1rem;
                    font-weight: 300;
                }
            }
        }
    }
}

@media (min-width: 900px){
    main{

        .navbar{
            display: flex;
            align-items: center;
            justify-content: center;
            padding-top: 1.2rem;
            padding-bottom: 1.2rem;

           h4{
               text-align: center;
           }
        }
        .logo{

            .logo_left{
                padding-left: 1.8rem;
            }

            .logo_right{
                @include flex();
                gap: 2rem;

                i{
                    display: none;
                }
                
                h4{
                    display: block;
                    color: rgb(91, 90, 90);

                    // i{
                    //     font-size: 1rem;
                    // }

                    // button{
                    //     background-color: blue;
                    //     color: white;
                    // }
                }
            }
        }

        .home{
            @include flex();
            flex-direction: row;
            gap: 2rem;
            position: relative;
            background: linear-gradient(to right, rgb(248, 233, 235), rgb(233, 246, 251) 95%);
            padding-bottom: 20rem;
            
            img{
                width: 100%;
                max-width: 690px;
                padding-right: 10rem;
                object-fit: contain;
                order: 2;
            }

            h1{
                margin-top: 0;
                flex: 1; 
                font-size: 4.5rem;
                line-height: 4.3rem;
                padding-left: 2.5rem;
            }

            .paragraph{
                position: absolute;
                top: 30rem;
                padding: 0rem 20rem;

                p{
                    font-size: 2rem;
                    font-weight: 400;
                    text-align: center;
                }

                span {
                  display: inline; 
                }
            }
        }

        .section2{
            display: flex;
            align-items: center;
            justify-content: space-between;
            gap: 1rem;
            flex-direction: row;
            padding: 2rem 3rem;

            .community{
                margin-top: 1rem;

                img{
                    width: 100%;
                    max-width: 400px;
                    object-fit: contain;
                }
            }

            .events{
                margin-top: 1rem;

                img{
                    width: 100%;
                    max-width: 100px;
                    object-fit: contain;
                }
            }

            .packages{
                margin-top: 1rem;

                img{
                    width: 100%;
                    max-width: 100px;
                    object-fit: contain;
                }
            }
        }

        .section3{
            display: flex;
            flex-direction: row-reverse;
            padding: 2rem 1rem;

            .right{
                padding-left: 3rem;
                padding-top: 5rem;
                padding-bottom: 5rem;
               img{
                   width: 100%;
                   max-width: 100%;
                   object-fit: contain;
               }
            }

            .left{
                padding-left: 13rem;
                padding-top: 5rem;
                padding-bottom: 5rem;

                h2{
                    font-size: 3rem;
                }

                p{
                    padding-right: 37rem;
                
                    span{
                        font-size: 1.2rem;
                    }
                }

                .buttons{
                    display: flex;
                    gap: 1rem;

                button{
                    font-size: 1rem;
                }

                h6{
                    font-size: 1rem;

                    i{
                        font-size: 1rem;
                    }
                }
              } 
            }
        }

        .comm{
            display: flex;
            align-items: center;
            justify-content: space-between;
            flex-direction: row;
            background: linear-gradient(to right, rgb(245, 245, 215), white);
            margin-top: 0.6rem;

            .community_left{
                padding-right: 3rem;
                padding-top: 5rem;
                padding-bottom: 5rem;

               img{
                   width: 100%;
                   max-width: 900px;
                   object-fit: contain;
               }
            }

            .community_right{
                padding-right: 3rem;
                padding-top: 5rem;
                padding-bottom: 5rem;

            

        }
    }
}  
}